* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/******************************************Setting up in general ********************************/
html,
body {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

/****************************************** Hero Section ********************************/
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.navbar {
  position: fixed;
  top: 2%;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin: 0 20px 0 22px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
}
.navbar ul li:nth-child(3) {
  width: 100px;
  height: 50px;
}
.navbar ul li:hover {
  background-color: rgb(15, 15, 15);
  border: 1px solid rgb(255, 255, 255);
}
.navbar ul li a {
  font-size: 20px;
  color: black;
}
.navbar ul li a:hover {
  color: aliceblue;
}

/****************************************** Hero Section ********************************/
.hero-main {
  height: 100%;
  width: auto;
  background: url(../images/Logo/web-Background-01.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-main-hero-content {
  display: block;
  justify-content: center;
  text-align: center;
}

.hero-main-hero-content-text h1 {
  font-size: 150px;
  font-weight: 800;
  font-family: "Oswald", sans-serif;
  color: rgb(14, 85, 69);
}

.hero-main-hero-content-text p {
  font-size: 50px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: aliceblue;
}
.hero-main button {
  font-size: 30px;
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  border: 1px solid black;
}
/****************************************** Hero Section 2 ********************************/
.hero {
  height: 90vh;
  width: auto;
  background-image: linear-gradient(
    to bottom,
    #0c3f36,
    #446b6f,
    #8398a3,
    #c4c9d1,
    #ffffff
  );
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: block;
  justify-content: center;
  text-align: center;
}

.hero-content-text h1 {
  font-size: 100px;
  font-weight: 800;
  font-family: "Oswald", sans-serif;
  color: #d9e9df;
  margin-bottom: 3%;
  letter-spacing: 0.5em;
}
/****************************************** Owl Carousel ********************************/
.owl-carousel img{
  cursor: pointer;
}
.owl-carousel img{
  cursor: pointer;
  transition: 0.5s ease;
}
.owl-carousel img:hover{
  transform: translateY(-20px);
  transition: 0.5s ease;
  z-index: 999;
}


.owl-carousel{
  height: 35vh;
}
/****************************************** Services ********************************/
.main3 {
  min-height: 70%;
}

.cardmain {
  justify-content: center;
}
.card {
  text-align: center;
  display: block;
  margin: auto;
}
.main3 .cardmain .card img {
  width: 50%;
}
.main3 .cardmain .card {
  color: #0c3f36;
}
.main3 .cardmain .shadow {
  width: 90%;
  background-color: transparent;
  border: 1px solid #0c3f36;
}
/****************************************** Works ********************************/
.main4{
    background-image: linear-gradient(to top, #0c3f36, #446b6f, #8398a3, #c4c9d1, #ffffff);
    height: 200%;
}
.row_right{
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.row_right img{
    width: 500px;
}
.row_left img{
    width: 500px;
}
.row_left{
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.row_right .map_box{
text-align: left;
padding-left: 15%;
width:auto;
}




/****************************************** Media Queries ********************************/
/******************************************Hero ********************************/

@media only screen and (max-width:767px)and (min-width:350px){
.hero-main{
  margin-top: 20%;
  height: 60%;
}
.hero-main-hero-content-text h1 {
  font-size: 12vw;

}

.hero-main-hero-content-text p {
  font-size: 45px;

}
.hero-content-text h1 {
  font-size: 70px;
  letter-spacing: 0.2em;
}
.hero{
  height: 50vh;
  padding-bottom: 20%;
}

}
@media only screen and (max-width:600px)and (min-width:350px){
  .hero{
    height: 50vh;
    padding-bottom: 30%;
  }
}
@media only screen and (max-width:500px)and (min-width:350px){
  .hero{
    padding-bottom: 5%;

  }
  .hero-main{
    height:auto;
  }
  .hero-main-hero-content-text h1 {
    font-size: 75px;
  }
  .hero-main-hero-content-text p {
    font-size: 40px;
  }
  .hero-content-text h1 {
    font-size: 55px;
    letter-spacing: 0.2em;
  }
}



    /****************************************** Work Process ********************************/
    @media only screen and (max-width:1500px)and (min-width:350px){
      .main4{
        margin-top: -6%;
        height: auto;
      }
    }
    @media only screen and (max-width:991px)and (min-width:350px){
        .main4{
          height: auto;
        }
      .main4 .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin: auto;
      }

      .row_right .map_box{
          text-align: center;
          padding-left: 0;
          width: 100%;
        }
        .row_right .map_box ul li{
          width: 100%;
        }
      .row_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        }
      .row_right img{
         margin-left: -35%;
        }
        .row_left img{
          margin-left: -35%;
         }
      .row_left{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
      }
      @media only screen and (max-width:767px)and (min-width:350px){
        .main4{
          margin-bottom: 20%;
        }
        .row_right img{
          margin-left: 0;
         }
         .row_left img{
           margin-left: 0;
          }
          .row_right .map_box{
          margin-top: 5%;
          }
          .row_left .map_box{
            margin-top: 5%;
            }
      }
      }
      @media only screen and (max-width:500px)and (min-width:350px){
        .row_right img{
          width: 300px;
         }
         .row_left img{
          width: 300px;
          }
      }


    /****************************************** Owl Carousel ********************************/  
    @media only screen and (max-width:992px)and (min-width:350px){
    .owl-carousel{
      margin-top: 5%;
    }
    }
 /****************************************** Services ********************************/   
@media only screen and (max-width:991px)and (min-width:350px){
  .card{
    margin-top: 5%;
  }
  .BoxSlider__text p{
    width: auto;
    font-size: clamp(4rem,4vw,1rem);
    color: #ffffff;
    margin: auto;
  }
  .background-block{
    width: 100%; 
    height: 30; 
    background-color: #161F32; 
    position: relative; 
    margin-top: -20%;
    z-index: -1;
  }
 
}
@media only screen and (max-width:600px)and (min-width:350px){
  
  @media only screen and (max-width:500px)and (min-width:350px){
  
}
}